<p id="notice"><%= notice %></p>
<h1>Workforce</h1>

<% unless @user.organization_id %>
<p>You aren't a member of any organizations.</p>
<p>Join an existing one or create a new one</p>
<%  end %>


<!--<p>-->
<!--  <strong>Organization:</strong>-->
  <%#= @user.organization_id %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Name:</strong>-->
  <%#= @user.name %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Email:</strong>-->
  <%#= @user.email %>
<!--</p>-->

<!--<p>-->
<!--  <strong>Password:</strong>-->
  <%#= @user.password %>
<!--</p>-->

<%= link_to 'Organization', organizations_path %> |
<%= link_to 'Create Organization', new_organization_path%>
